<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready To Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam molestias
        adipisci nam nisi quia dignissimos, laudantium accusantium consequatur
        fugiat fuga?
      </p>
    </div>
    <a href="#" target="_blank" rel="" class="btn btn-secondary btn--streched"
      >GET STARTED
    </a>
  </div>
</div>
